/* src/assets/Page.css */
.page-content {
  background-color: var(--primary-bg); /* Станет transparent */
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid var(--border-color); /* Оставляем рамку */
  /* box-shadow: var(--card-shadow); УБРАНО */
  animation: fadeIn 0.5s ease-in-out;
  margin-bottom: 2rem; /* Добавим отступ снизу */
}

.page-content h1 {
    margin-bottom: 1.5rem;
}

.page-content p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: var(--text-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}