.contacts-container,
.links-container {
    text-align: center;
    padding: 40px;
}

.contacts-container h1,
.links-container h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.contacts-container p,
.links-container p {
    color: var(--secondary-text);
    margin-bottom: 40px;
    font-size: 1.1em;
}

.buttons-grid {
    display: flex;
    flex-wrap: wrap; /* Переносить кнопки на новую строку */
    justify-content: center;
    gap: 20px; /* Отступы между кнопками */
}