.site-footer {
  height: var(--footer-height);
  background-color: var(--card-background);
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
  border-top: 1px solid var(--border-color);
  width: 100%;
  margin-top: auto; /* Прижимает футер к низу */
}