.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  flex-direction: column;
  cursor: pointer;
  transition: opacity 1s ease-out, visibility 1s ease-out;
}

.preloader-overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  display: block; /* Показываем по умолчанию */
}

.loader.hidden {
    display: none;
}

.loader::before, .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--loader-main);
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: var(--loader-accent);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes prixClipFix {
  0% { clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0); }
  25% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0); }
  50% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%); }
  75% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%); }
  100% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0); }
}

.click-message {
    color: var(--text-color);
    margin-top: 20px;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    display: none; /* Скрыто по умолчанию */
}

 .click-message.visible {
    display: block;
    opacity: 1;
 }