@font-face {
	font-family: "Hero";
	src: url("assets/fonts/Hero.ttf") format("opentype")
}

@font-face {
	font-family: "MontserratAlternates";
	src: url("assets/fonts/MontserratAlternates.ttf") format("opentype")
}

body {
	margin: 0;
	background: url("../images/landscape_background_upscale.png") no-repeat center center/cover;
}

a {
	text-decoration: none;
	position: relative;
}

#main {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
}

.avatar {
	width: 25vh;
}

.title {
	color: #fff;
	font-size: 3vh;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.title {
	font-size: 5vh;
	font-family: "MontserratAlternates", Arial, sans-serif;
}

.link {
	border: 3px solid #545454;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
	padding: 1vh 5vw;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.2);
	transition: background-color 0.2s ease-in-out;
	overflow: hidden;
	font-family: "Hero", Arial, sans-serif;
}

.link img {
	width: 10vh;
	transition: opacity 0.2s ease-in-out;
}

.link::before {
	content: attr(link-name);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	font-weight: bold;
}

.short {
	font-size: 3vh;
}

.long {
	font-size: 2.5vh;
}

.link:hover img {
	opacity: 0.1;
}

.link:hover:before {
	opacity: 1;
}

.link:hover {
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 3px #fff;
}

.vk:hover {
	border-color: #0066ff;
	text-shadow: 0 0 15px #0066ff;
}

.tg:hover {
	border-color: #428eff;
	text-shadow: 0 0 15px #428eff;
}

.gh:hover {
	border-color: #fff;
	text-shadow: 0 0 15px #fff;
}

.forum:hover {
	border-color: #00ff00;
	text-shadow: 0 0 15px #00ff00;
}

.da:hover {
	border-color: #ff6f00;
	text-shadow: 0 0 15px #ff6f00;
}

.row {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.row a {
	margin: 0 5px;
}

.preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #212121;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: all 0.5s ease;
	text-align: center;
	font-family: "MontserratAlternates", Arial, sans-serif;
}

.preloader img {
	width: 30vh;
}

.preloader.hidden {
	opacity: 0;
	pointer-events: none;
}

@media (max-width: 680px) {
	body {
		background: url("../images/portrait_background_upscale.png") no-repeat center center/cover;
	}

	.title {
		font-size: 3vh;
	}

	.link {
		padding: 0.5vh, 3.7vw;
	}

	.link img {
		width: 7vh;
	}

	.link:hover img {
		opacity: 1;
	}

	.link:hover:before {
		opacity: 0;
	}
}